{% extends "main.html" %}
{% block content %} 
<link href="../static/css/magnific-popup.css" rel="stylesheet">
<section class="page-header-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Data User</h1>
        </div>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<div class="container"> 
  <div class="content-wrapper">
    <div class="inner-content">
      <div class="row">
        <form role="form" method="post">
            <div class="col-md-7">
              <div class="form-group">
                <label>Username</label>
                <input type ="hidden"  class="form-control"  name="kodeuser" id="kodeuser" style="font-size: 11px" value = "{{post[0][0]}}"  Readonly >
                <input class="form-control"  name="nama" id="nama" style="font-size: 11px" value = "{{post[0][1]}}"  Readonly >
              </div>                                                 
            </div>
            <div class="col-md-7">
              <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" name="password" id="password" style="font-size: 11px" value = "{{post[0][2]}}" Readonly required><br>
                <button onclick="show()" type="button" class="btn btn-sm btn-default" name="ganti" id="ganti" >Change Password</button>
              </div>                                                 
            </div>
            <div id="gantipass" style="display:none;">
              <div class="col-md-7">
                <div class="form-group">
                  <label>Old Password</label>
                  <input class="form-control" type="password" name="passwordlama" id="passwordlama" value = "{{post[0][2]}}" required style="font-size: 11px">
                </div>                                                 
              </div>

              <div class="col-md-7">
                <div class="form-group">
                  <label>New Password</label>
                  <input class="form-control" type="password" name="passwordbaru" id="passwordbaru" value = "{{post[0][2]}}" required style="font-size: 11px">
                </div>                                                 
              </div>

              <div class="col-md-7">
                <div class="form-group">
                  <label>Confirm New Password</label>
                  <input class="form-control" type="password" name="confpasswordbaru" id="confpasswordbaru" value = "{{post[0][2]}}" required style="font-size: 11px"><br>
                  <button type="submit" class="btn btn-sm btn-default" name="Simpan" id = "Simpan" value="SimpanPass" > <span class="glyphicon glyphicon-floppy-disk" ></span>Save Password</button>
                  <button onclick="hide()" type="button" class="btn btn-sm btn-default" name="batalganti" id="batalganti">Cancel</button>
                </div>                                                 
              </div>
            </div>

            <div class="col-md-7">
              <div class="form-group">
                <label>Sex</label>
                <select class="form-control" name="jk" id="jk" style="font-size: 11px" >
                  <option value="Laki-laki" {% if post[0][4] == 'Laki-laki' %}selected{% endif %}>Male</option>
                  <option value="Perempuan" {% if post[0][4] == 'Perempuan' %}selected{% endif %}>Female</option>
                </select>
              </div>                                           
            </div>
            <div class="col-md-7">
              <div class="form-group">
                <label>Age</label>
                <select class="form-control"  name="usia" id="usia" style="font-size: 11px" >
                  <option value="19 - 30 tahun" {% if post[0][3] == '19 - 30 tahun' %}selected{% endif %}>19 - 30 years old</option>
                  <option value="31 - 40 tahun" {% if post[0][3] == '31 - 40 tahun' %}selected{% endif %}>31 - 40 years old</option>
                  <option value="41 - 50 tahun" {% if post[0][3] == '41 - 50 tahun' %}selected{% endif %}>41 - 50 years old</option>
                  <option value="51 - 60 tahun" {% if post[0][3] == '51 - 60 tahun' %}selected{% endif %}>51 - 60 years old</option>
                  <option value="lebih dari 60 tahun" {% if post[0][3] == 'lebih dari 60 tahun' %}selected{% endif %}>>60 years old</option>
                </select>
              </div>                                                 
            </div>
            <div class="col-md-7">
              <div class="form-group">
                <label>Monthly Salary</label>
                <select class="form-control"  name="pendapatan" id="pendapatan" style="font-size: 11px" >
                  <option value="Kurang dari Rp.8 juta" {% if post[0][5] == 'Kurang dari Rp.8 juta' %}selected{% endif %}>Less than Rp 8 Mil</option>
                  <option value="Antara Rp.8 juta hingga Rp.15 juta" {% if post[0][5] == 'Antara Rp.8 juta hingga Rp.15 juta' %}selected{% endif %}>Between Rp 8 Mil until Rp 15 Mil</option>
                  <option value="Lebih dari Rp.15 juta" {% if post[0][5] == 'Lebih dari Rp.15 juta' %}selected{% endif %}>More than Rp 6 Mil</option>
                </select>
              </div>                                             
            </div>
            <div class="col-md-7">
              <div class="form-group">
                <label>Job</label>
                <select class="form-control"  name="pekerjaan" id="pekerjaan" style="font-size: 11px" >
                  <option value="Pelajar" {% if post[0][6] == 'Pelajar' %}selected{% endif %}>Student</option>
                  <option value="Wiraswasta" {% if post[0][6] == 'Wiraswasta' %}selected{% endif %}>Entrepreneur</option>
                  <option value="Pegawai Negeri Sipil" {% if post[0][6] == 'Pegawai Negeri Sipil' %}selected{% endif %}>Government Employees</option>
                  <option value="Pegawai Swasta" {% if post[0][6] == 'Pegawai Swasta' %}selected{% endif %}>Private Civil Servants</option>
                  <option value="Professional" {% if post[0][6] == 'Professional' %}selected{% endif %}>Professional</option>
                </select>
              </div>                                                 
            </div>
            <div class="col-md-7">
              <div class="form-group">
                <label>Budget</label>
                <select class="form-control"  name="anggaran" id="anggaran" style="font-size: 11px" >
                  <option value="Kurang dari Rp.200 juta" {% if post[0][7] == 'Kurang dari Rp.200 juta' %}selected{% endif %}>0 - 200,000,000.00</option>
                  <option value="Rp.200 juta - Rp.400 juta" {% if post[0][7] == 'Rp.200 juta - Rp.400 juta' %}selected{% endif %}>200,000,000.00 - 400,000,000.00</option>
                  <option value="Rp.400 juta - Rp.600 juta (tepat Rp.400 juta tidak termasuk)" {% if post[0][7] == 'Rp.400 juta - Rp.600 juta (tepat Rp.400 juta tidak termasuk)' %}selected{% endif %} >400,00,000.00 - 600,000,000.00</option>
                  <option value="Rp.600 juta - Rp.800 juta (tepat Rp.600 juta pas tidak termasuk)" {% if post[0][7] == 'Rp.600 juta - Rp.800 juta (tepat Rp.600 juta pas tidak termasuk)' %}selected{% endif %} >600,000,000.00 - 800,000,000.00</option>
                  <option value="Lebih dari Rp.800 juta" {% if post[0][7] == 'Lebih dari Rp.800 juta' %}selected{% endif %}>>800,000,000.00</option>
                </select>
              </div>                                                 
            </div>
            <div class="col-md-7">
              <div class="form-group">
                <button type="submit" class="btn btn-sm btn-default" name="Simpan" value="Simpan" > <span class="glyphicon glyphicon-floppy-disk" ></span>&nbspSave</button>
              </div>   
            </div>
        </form>    
      </div>
    </div>
  </div><!-- /.content-wrapper -->
</div><!-- /.container -->
<script>
  function show(){
  document.getElementById("gantipass").style.display = 'block';
  document.getElementById("passwordlama").value=""
  document.getElementById("passwordbaru").value=""
  document.getElementById("confpasswordbaru").value=""
  }
  function hide(){
  document.getElementById("gantipass").style.display = 'none';
  location.reload()
  }

var password = document.getElementById("password")
  , passwordlama = document.getElementById("passwordlama");

var passwordbaru = document.getElementById("passwordbaru")
  , confpasswordbaru = document.getElementById("confpasswordbaru");

function validatePasswordlama(){
  if(password.value != passwordlama.value) {
    passwordlama.setCustomValidity("password beda");
  }
  else {
    passwordlama.setCustomValidity('');
  }
}

function validatePasswordbaru(){
  if(passwordbaru.value != confpasswordbaru.value) {
    confpasswordbaru.setCustomValidity("password beda");
  }
  else {
    confpasswordbaru.setCustomValidity('');
  }
}

password.onchange = validatePasswordlama;
passwordlama.onkeyup = validatePasswordlama;

passwordbaru.onchange = validatePasswordbaru;
confpasswordbaru.onkeyup = validatePasswordbaru;
</script>
{% endblock %}