{% extends "menuadmin.html" %}
{% block content %} 
<link href="../static/css/magnific-popup.css" rel="stylesheet">
<section class="page-header-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
					<h1>Welcome Admin!</h1>
				</div>
			</div>
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</section>
<div class="container">
	<div class="content-wrapper">  
		<div class="our-clients-wrapper">
			<div class="media">
				<center style="text-align: center;">
					<h3 style="color: grey; padding-top: 50px;">Selamat Datang di Menu Admin!</h3> 
					<h4 style="color: grey;">Disini anda dapat menambah <b>User baru</b> atau <b>Mobil baru</b>, mengedit <b>User lama</b> atau <b>Mobil lama</b>, dan menghapus <b>User lama</b> atau <b>Mobil lama</b>.
					</h4>
				</center>
				<div class="media-left">
					<a href="#">
						<img class="media-object" src="img/partner/partner-logo-8.png" alt="">
					</a>
				</div>
				<div class="media-body">
					
				</div>
			</div>
		</div><!-- /.inner-content -->
	</div><!-- /.content-wrapper -->
</div><!-- /.container -->
{% endblock %}