<script src="../static/js/ratingstarin.js"></script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" id="CloseModal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel"> Car {{kode}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-7">
            <form role="form" method="post">
                <div class="portfolio-content">
                    <img src="../{{post[0][12]}}" class="img-responsive" alt="">
                    <div class="project-live-link">
                        <input id="input-1" name="rating" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1" value='{{"{:,.2f}".format(rat)}}'>
                        <p><span class="title"><strong>Rating : <a href="http://www.themehippo.com"> {{"{:,.2f}".format(rat)  }} </a></strong></span></p>
                        <button type="submit" class="btn btn-default btn-xs" name="Simpan"> <span class="glyphicon glyphicon-floppy-disk" ></span>&nbspSave</button>
                    </div> <!-- /.project-live-link -->
                    <br>
                </div> <!-- /.portfolio-content -->
                <p><strong>Advantages : </strong><pre>{{post[0][9]}}</pre><strong>Disadvantages : </strong><pre>{{post[0][10]}}</pre><strong><a href ="{{post[0][8]}}"  target="_blank" class="btn btn-primary btn-lg btn-block" type="button">More Info</a></strong></p>
            </form>
        </div> <!-- /.col-md-7 -->
        <div class="col-md-5">
          <div class="portfolio-info">
            <input type="hidden"  name="kodemob" id="kodemob" >
            <p><span class="title">Brand : </span> {{post[0][1]}}</p>
            <p><span class="title">Type : </span> {{post[0][2]}}</p>
            <p><span class="title">Variant : </span> {{post[0][3]}} </p>
            <p><span class="title">CC : </span> {{post[0][4]}} </p>
            <p><span class="title">Transmission : </span> {{post[0][5]}} </p>
            <p><span class="title">Price : </span> Rp. {{"{:,.2f}".format(post[0][6])}}</p>
            <p><span class="title">Color : </span> {{post[0][7]}} </p>
            <p><span class="title">seater : </span> {{post[0][13]}} </p>
            <p><span class="title">After-Sale Price : </span> Rp. {{"{:,.2f}".format(post[0][14])}}</p>
            <p><span class="title">Fuel : </span> {% if post[0][15] == 0 %} Diesel {% endif %}{% if post[0][15] == 1 %} Gasoline {% endif %} </p>   
        </div> <!-- /.portfolio-info -->
    </div> <!-- /.col-md-5 -->
</div> <!-- /.row -->
</div>
<div class="modal-footer">
</div>
