{% extends "menuadmin.html" %}
{% block content %}  
<link href="../static/css/magnific-popup.css" rel="stylesheet">
<section class="page-header-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Data User</h1>
        </div>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<div class="container"> 
  <div class="content-wrapper">
    <div class="inner-content">
      <div class="row">
        <div class="table-responsive">
          <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
              <tr>
                <th>
                  Picture
                </th>
                <th> 
                  Specification
                </th>
                <th> 
                  Edit / Delete
                </th>
              </tr>
            </thead>             
            <tbody>
              {% for i in post %}
              <tr>
                <th>
                  <img src="{{i[12]}}" width="200" height="200" >
                  
                </td>
                <th> 
                     Car ID : {{i[0]}} </br>
                     Brand : {{i[1]}} </br>
                     Type : {{i[2]}} </br>
                     Variant : {{i[3]}} </br>
                     CC :{{i[4]}} </br>
                     Transmission : {{i[5]}} </br>
                     Price : {{"{:,.2f}".format(i[6])}} </br>
                     Color : {{i[7]}} </br>
                     Seater : {{i[13]}} </br>
                     After-Sale Price : {{"{:,.2f}".format(i[14])}} </br>
                     Fuel : {% if i[15] == 0 %} Diesel {% endif %}{% if i[15] == 1 %} Gasoline {% endif %} </br>
                     Source : {{i[8]}} </br>
                     Advantages : {{i[9]}} </br>
                     Disadvantages : {{i[10]}} </br>
                     Rating : {{i[11]}}
                </th>
                <td><a href="/ModalMobil/{{i[0]}}" data-target="#Modal" data-toggle="modal" id="Detail" name="Detail" Value="{{i[0]}}" data-backdrop="static" data-keyboard="false">Edit / Delete</a></td>                  
              </tr>
              {% endfor %}       
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div><!-- /.content-wrapper -->
</div><!-- /.container -->
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- /.modal-content -->
    </div>
  </div>
</div>
<script>
  $('.newbtn').bind("click" , function () {
    $('#pic').click();
  }); 
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#blah')
        .attr('src', e.target.result);
      };
      reader.readAsDataURL(input.files[0]);
      document.getElementById("image").value= URL.createObjectURL(event.target.files[0]);
    }
  }
</script>
<style>
#pic{
  display: none;
}         
.newbtn{
  cursor: pointer;
}
#blah{
  max-width:100px;
  height:100px;
  margin-top:2px;
}
</style>
{% endblock %}